.input {
  /* margin-top: 1rem; */
  margin-left: auto;
  margin-right: auto;
  width: 20rem;
  display: flex;
  flex-direction: row;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  /* width: 20rem; */
}

.column {
  display: flex;
  flex-direction: column;
}

.btn {
  margin-left: auto;
  margin-right: auto;
  width: 20rem;
  background-color: #1a1919;
}

.btn:hover {
  background-color: #343434;
}

.calculadora {
  padding-top: 50px;
  /* margin-top: 3rem; */
  margin-left: auto;
  margin-right: auto;
  width: 17rem;
  height: 32rem;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  background-color: #1a1919;
}

.campo {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 15rem;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  background-color: #1a1919;
  border: none;
  text-align: right;
}

.entrada {
  color: white;
}

.entrada:focus {
  background-color: #1a1919;
  color: white;
}

.saida {
  color: #b8b8b846;
  cursor: auto;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.saida:focus {
  background-color: #1a1919;
  color: #b8b8b8;
}

/* .campo:hover {
  background-color: #504e4e;
  border: none;
} */

.botoes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.botao {
  width: 45px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  background: #343434;
  border-radius: 9px;
  /* font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 44px; */
  color: #ffffff;
}

#button-historico:hover {
  background-color: #424242;
}

.clear {
  background-color: #ff5959;
  color: #343434;
}

.operacao {
  color: #66ff7f;
}

.igual {
  background-color: #66ff7f;
  color: #343434;
}

.historico {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 20rem;
}

span {
  margin-right: 10px;
}

p {
  margin-bottom: 2px;
}
